<p *ngIf="!complete" class="text-center">Chargement en cours ...</p>
<p *ngIf="empty" class="text-center">Aucun point-relais ...</p>
<nb-card *ngFor="let producteur of producteurListe">
    <nb-card-header>{{ producteur.libelle }}</nb-card-header>
    <nb-card-body>
        <div class="media">
            <img class="align-self-center mr-3" src="../../../assets/farm.svg" alt="Generic placeholder image">
            <div class="media-body">
            <h5 class="mt-0">Représenté par {{ producteur.nom }} {{ producteur.prenom }}</h5>
            <p>Adresse : {{ producteur.adresse }}, {{ producteur.codePostal }}, {{ producteur.ville }}</p>
            <button nbButton ghost status="info"><nb-icon icon="cube-outline"></nb-icon>Commandes</button>
            <button nbButton ghost status="success"><nb-icon icon="phone-call-outline"></nb-icon>Contacter</button>
            </div>
        </div>
    </nb-card-body>
</nb-card>
