<form [formGroup]="entrepriseForm">
  <div class="row mb-3">
    <input
      nbInput
      (keyup)="sendValue()"
      type="text"
      formControlName="id"
      [status]="id.invalid ? 'basic' : 'success'"
      class="col-4"
      placeholder="Identifiant de l'entreprise"
      maxlength="14"
    />
    <input
      nbInput
      type="text"
      (keyup)="sendValue()"
      placeholder="Nom de l'entreprise"
      formControlName="name"
      [status]="name.invalid ? 'basic' : 'success'"
      class="col-4"
      maxlength="64"
    />
    <input
      nbInput
      (keyup)="sendValue()"
      type="text"
      placeholder="IBAN"
      formControlName="iBAN"
      maxlength="5"
      class="col-4"
      maxlength="34"
    />
  </div>
</form>
