<!-- User form -->
<form [formGroup]="pointRelaisForm">
  <input type="text" placeholder="Nom" formControlName="lastname" />
  <input type="text" placeholder="Prénom" formControlName="firstname" />
  <input type="text" placeholder="Téléphone" formControlName="phone" />
  <span *ngIf="pointRelaisForm.get('phone').valid">phonenumber correct</span>
  <input type="text" placeholder="Adresse" formControlName="address" />
  <input type="text" placeholder="Ville" formControlName="city" />
  <input type="text" placeholder="Code postale" formControlName="postCode" />
  <select type="text" formControlName="type"> </select>
</form>

<app-entreprise (counterChange)="monEntreprise = $event"></app-entreprise>

<button
  type="submit"
  [disabled]="pointRelaisForm.invalid || monEntreprise == null || user == null"
  (click)="submitForm()"
>
  Valider
</button>
<p>{{ errorMessage }}</p>
