<!-- User form -->
<form [formGroup]="pointRelaisForm">
  <input type="text" placeholder="Nom" formControlName="lastname" />
  <input type="text" placeholder="Prénom" formControlName="firstname" />
  <input type="text" placeholder="Téléphone" formControlName="phone" />
  <input type="text" placeholder="Adresse" formControlName="address" />
  <input type="text" placeholder="Ville" formControlName="city" />
  <input type="text" placeholder="Code postale" formControlName="postCode" />
  <select type="text" formControlName="type">
    <option selected>Choisissez un type</option>
    <option
      *ngFor="let pointRelaisType of tabPointRelaisType"
      [value]="pointRelaisType.id"
      >{{ pointRelaisType.libelle }}</option
    >
  </select>
</form>

<app-entreprise (counterChange)="monEntreprise = $event"></app-entreprise>

<button
  type="submit"
  [disabled]="pointRelaisForm.invalid || monEntreprise == null || user == null"
  (click)="submitForm()"
>
  Valider
</button>
<p>{{ errorMessage }}</p>
